{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>To-Do List</h1>
        <form action="{% url 'add_task' %}" method="post">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Enter task" class="task-input">
            <button type="submit" class="add-btn">Add Task</button>
        </form>
        <ul class="task-list">
            {% for task in tasks %}
                <li class="task-item">
                    <div class="task-content">
                        <span class="task-title {% if task.completed %}complete{% endif %}">{{ task.title }}</span>
                        <div class="task-icons">
                            <a href="{% url 'delete_task' task.id %}" class="delete-btn"><i class="fas fa-trash-alt"></i></a>
                            <a href="{% url 'complete_task' task.id %}" class="complete-btn"><i class="fas fa-check-circle"></i></a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        
    </div>
</body>
</html>
